/*!* Form Error *!*/
/*.has-error .input-group-addon {*/
    /*color: inherit;*/
    /*background-color: inherit;*/
    /*border-color: transparent;*/
/*}*/

/*!* General *!*/
/*.table td {*/
    /*white-space: nowrap;*/
/*}*/

/*.cursor-pointer {*/
    /*cursor: pointer;*/
/*}*/

/*.preview {*/
    /*cursor: pointer;*/
/*}*/

/*input[type="file"] {*/
    /*margin-top: 10px;*/
/*}*/

/*.dl-horizontal dt {*/
    /*text-align: left;*/
/*}*/

/*!* Summernote *!*/
/*.note-editor {*/
    /*margin-top: 15px;*/
/*}*/

/*.note-editor .modal-dialog {*/
    /*margin-top: 100px;*/
/*}*/

/*.note-group-select-from-files {*/
    /*display: none;*/
/*}*/

/*!* Material Admin List*!*/
/*.gui-text {*/
    /*padding: 8px 12px;*/
/*}*/

/*!* Nano Scroller *!*/
/*#content .nano:focus,*/
/*#content .nano-content:focus {*/
    /*outline: none;*/
/*}*/

/*#content .nano-pane {*/
    /*z-index: 1;*/
    /*width: 5px;*/
    /*background: transparent;*/
/*}*/

/*#content .nano-slider {*/
    /*background: rgba(0, 0, 0, 0.2);*/
/*}*/

/*#content section {*/
    /*position: relative;*/
    /*padding-top: 16px;*/
    /*z-index: 1;*/
    /*min-height: 100%;*/
/*}*/

/*!* Custom Gird Column *!*/
/*.col-xs-1-5,*/
/*.col-sm-1-5,*/
/*.col-md-1-5,*/
/*.col-lg-1-5 {*/
    /*position: relative;*/
    /*min-height: 1px;*/
    /*padding-right: 10px;*/
    /*padding-left: 10px;*/
/*}*/

/*.col-xs-1-5 {*/
    /*width: 20%;*/
    /*float: left;*/
/*}*/

/*@media (min-width: 768px) {*/
    /*.col-sm-1-5 {*/
        /*width: 20%;*/
        /*float: left;*/
    /*}*/
/*}*/

/*@media (min-width: 992px) {*/
    /*.col-md-1-5 {*/
        /*width: 20%;*/
        /*float: left;*/
    /*}*/
/*}*/

/*@media (min-width: 1200px) {*/
    /*.col-lg-1-5 {*/
        /*width: 20%;*/
        /*float: left;*/
    /*}*/
/*}*/

/*!* Vue CSS *!*/
/*.searchbar {*/
    /*opacity: 0;*/
/*}*/

/*.menubar-pin .searchbar, .menubar-visible .searchbar {*/
    /*opacity: 1;*/
    /*transition: 1s;*/
/*}*/

/*!* Header Dropdown *!*/
/*.header-nav-profile .dropdown > a {*/
    /*min-width: 184px;*/
    /*padding: 12px;*/
/*}*/

/*.header-nav-profile .dropdown.open > a {*/
    /*padding: 10px 21px;*/
    /*margin-top: 1px !important;*/
/*}*/

/*!* Affix *!*/
/*@media (min-width: 768px) {*/
    /*.card-affix {*/
        /*position: fixed;*/
    /*}*/

    /*.affix-4 {*/
        /*width: 25%;*/
    /*}*/
/*}*/

/* Header */
#header {
    z-index: 2;
}

/* Form Error */
.has-error .input-group-addon {
    color: inherit;
    background-color: inherit;
    border-color: transparent;
}

/* General */
.cursor-pointer {
    cursor: pointer;
}

.preview {
    cursor: pointer;
}

input[type="file"] {
    margin-top: 10px;
}

.dl-horizontal dt {
    text-align: left;
}

/* Summernote */
.note-editor {
    margin-top: 15px;
}

.note-editor .modal-dialog {
    margin-top: 100px;
}

.note-group-select-from-files {
    display: none;
}

/* Material Admin List*/
.gui-text {
    padding: 8px 12px;
}

/* Nano Scroller */
#content .nano:focus,
#content .nano-content:focus {
    outline: none;
}

#content .nano-pane {
    z-index: 1;
    width: 5px;
    background: transparent;
}

#content .nano-slider {
    background: rgba(0, 0, 0, 0.2);
}

#content section {
    position: relative;
    padding-top: 16px;
    z-index: 1;
    min-height: 100%;
}

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-1-5 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}

[v-cloak] {
    display: none;
}

.alert-priority-10, .alert-priority-9 {
    background-color: #F44336;
}

.dropdown-menu > li > a[class*='alert-priority-'] {
    color: #fff;
}

.dropdown-menu > li > a[class*='alert-priority-']:hover {
    color: #000;
}

.alert-priority-8, .alert-priority-7 {
    background-color: #EF5350;
}

.alert-priority-6, .alert-priority-5, .alert-priority-4, .alert-priority-3, .alert-priority-2, .alert-priority-1 {
    background-color: #3F51B5;
}

.notification .alert.read {
    background-color: #e6e6e6;
}

.notification .dropdown-menu > li > a.read {
    color: #000;
}

.table td {
    white-space: nowrap;
}

.notification-dropdown {
    max-height: 450px;
    overflow-y: scroll;
}

.searchbar {
    opacity: 0;
}

.menubar-pin .searchbar, .menubar-visible .searchbar {
    opacity: 1;
    transition: 1s;
}

.dataTables_wrapper .dataTables_processing {
    top: 70px;
    z-index: 9000;
    background-color: #fff;
    opacity: 0.75;
    -moz-opacity: 0.75;
}

.awt-customer-info-sidebar dl {
    word-wrap: break-word;
}

@media (min-width: 992px) {
    .awt-customer-info-sidebar {
        width: 213px;
    }
}

@media (min-width: 1200px) {

    .awt-customer-info-sidebar {
        width: 263px;
    }
}

@media (min-width: 992px) {

    .awt-customer-info-sidebar {
        position: fixed;
    }
}

.dropdown-menu {
    right: 0;
    left: initial;
}